* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    height: 720px;
    width: 720px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    
}

.square {
    border: 1px solid black;
    background-color: rgb(241, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;

}

.square:active{
    transform: scale(0.9) translate(+3%, -3%);
}

.square p {
    font-size: 72px;
}